{% extends 'base.html' %}

{% block title %}create category{% endblock %}

{% block stylesheet %}
<style>
.alert {
  padding: 11px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 205px;
  margin-right: 44px;
}
</style>
{% endblock %}

{% block profile %}

{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}

{% block script %}

{% endblock %}
